{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'inicio' %}" class="brand-link">
      
      <span class="brand-text font-weight-light">Escuela</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <i class="fas fa-user-circle fa-2x text-white"></i>
        </div>
        <div class="info">
            <a href="#" class="d-block"><strong class="font-bold">{{ user.first_name }}</strong>
                <strong class="font-bold">{{ user.last_name }}</strong></a>
        </div>
    </div>



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-close">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Usuarios
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            {% comment %} {% url 'auth:agregar_empleado' %} {% endcomment %}
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fas fa-user-tie nav-icon"></i>
                  <p>Registrar Nueva Persona</p>
                </a>
              </li>
            </ul>
          </li>
          

          

          
          <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Configuración
                <span class="right badge badge-info">Admin</span>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>